.container-user {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header h1 {
    font-size: 3em;
    color: var(--vermelho);
}

.header h1 span {
   color: rgba(255, 255, 255, 0.72);
}

.dev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left-container img {
    height: 15em;
    width: 15em;
    border-radius: 2em;
}

.left-container h2 {
    color: var(--vermelho);
}

.left-container p{
    color: #ffff;
}

.info {
    display: flex;
    flex-direction: row;
    color: #ffff;
    text-align: center;
    line-height: 4px;
    align-items: center;
    justify-content: center;
}

.info div {
    margin-left: 1em;
}

.info div h4{
    color: var(--vermelho);
}

.repository {
    background-color: #3D3D3D;
    border-radius: 10px;
    text-align: center;
}

.repository div {
    margin-top: 2em;
}


.container-user .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-user .user-not-found {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user {
    color: #ffff;
}

button {
    margin-top: 1em;
    width: 15em;
    height: 3.4em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--vermelho);
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    transition: 2ms;
    cursor: pointer;
    outline: none;
    
}

h2 {
    color: #FFFF;
}

button:hover {
    opacity: 90%;
}
